 a{
    color: #390000;
    cursor: pointer;
    text-decoration: none;
  }
  
  body{
    background-color: #d27a7a;
  }
  
  .text{
    margin: 30px;
    padding-left: 100px;
  }
  
  
  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
    font-family: Georgia, sans-serif;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color:#e4bbbb;
    margin-bottom: 10px;
    margin-top: 10px;
    padding:10px;
  }
  
 
  .main{
    display: flex;
    flex-direction: column;
  }
  .table{
    font-family: 'Courier New', Courier, monospace;
    background-color:#e4bbbb;
    max-width: 960px;
    margin: 0 auto;
    padding:10px;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    width: 960;
    border-radius: 10px;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 10px 20px;
    display: flex;
    justify-content: center;
  }
  
  .table table{
  padding-left: 170px;
  padding-right: 170px;
  }
  
  th {
    font-weight: normal;
    color: #000000;
    padding: 10px 15px;
  }
  td {
    color: #000000;
    border-top: 1px solid #613636;
    padding: 10px 15px;
  }
  tr:nth-child(2n) {
    background: #d27a7a;
  }
  
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    margin:20px;
    padding:10px;
    max-width: 960px;
    background-color:#e4bbbb;
    margin: 0 auto;
    margin-top:20px;
    padding:10px;
  }
  
  form input{
    padding: 12px 20px;
    background-color:#d27a7a;
  
  }
  
  form textarea{
    background-color:#d27a7a;
  }
  
  form option{
    background-color:#d27a7a;
  }
  
  form input:focus {
    background-color: #613636;
    color: #ffffff;
  }
      order: -1;
      margin-bottom: 10px;
    }
}
